
@{
    ViewBag.Title = "Thông tin";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f4f4f4;
    }

    .container-cusom {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        text-align: justify;
    }

    h1, h2 {
        color: #333;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 5px;
    }
</style>

<div class="container-cusom">
    <h1>Homestay L3opard - Nơi Hòa Mình vào Sự Tiện Nghi và Sự Ấm Cúng</h1>

    <p>Chào mừng bạn đến với Homestay L3opard, điểm đến lý tưởng cho những chuyến du lịch đầy ấn tượng và tận hưởng cuộc sống như ở nhà. Với vị trí đắc địa, chúng tôi không chỉ cung cấp những căn phòng tiện nghi mà còn là điểm hẹn lý tưởng cho những hành trình khám phá.</p>

    <p>Tại Homestay L3opard, bạn sẽ trải nghiệm không khí ấm cúng của một ngôi nhà thực sự, kết hợp với sự hiện đại và thoải mái. Với không gian trang trí độc đáo và chăm sóc khách hàng tận tâm, chúng tôi cam kết mang đến cho bạn những khoảnh khắc đáng nhớ.</p>

    <h2>Những Điều Bạn Sẽ Khám Phá:</h2>

    <ul>
        <li><strong>Thiết Kế Độc Đáo:</strong> Mỗi phòng tại Homestay L3opard được chăm chút đến từng chi tiết với thiết kế độc đáo và sang trọng.</li>
        <li><strong>Điểm Hẹn Lý Tưởng:</strong> Vị trí của chúng tôi gần những điểm du lịch nổi tiếng, giúp bạn dễ dàng khám phá và trải nghiệm văn hóa địa phương.</li>
        <li><strong>Dịch Vụ 24/7:</strong> Đội ngũ nhân viên chuyên nghiệp luôn sẵn sàng phục vụ bạn mọi lúc, mọi nơi.</li>
    </ul>

   <p style="margin-bottom: 10px;">Homestay L3opard - Nơi Hòa Mình vào Sự Tiện Nghi và Sự Ấm Cúng</p>

<img src="~/img/room-3.jpg" alt="Homestay Image 1" style="display: block; margin: 0 auto 10px;">

<p style="margin-bottom: 10px;">Chào mừng bạn đến với Homestay L3opard, điểm đến lý tưởng cho những chuyến du lịch đầy ấn tượng và tận hưởng cuộc sống như ở nhà...</p>

<img src="~/img/room-2.jpg" alt="Homestay Image 2" style="display: block; margin: 0 auto 10px;">



    <p><strong>Trải Nghiệm Homestay L3opard - Trải Nghiệm Tự Do và An Yên!</strong></p>

    <p><em>Homestay L3opard</em></p>

    <p>Hãy để chúng tôi chăm sóc bạn trong mỗi chuyến đi.</p>
</div>

