@model IEnumerable<WebHomeStay.Models.LOAIPHONG>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.TENLOAI, "LoaiPhong", "DatPhong", new { Maloai = item.MALOAI }, null)
        </li>
    }
</ul>
