
@{
    ViewBag.Title = "Chi tiết phòng";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .card {
        position: relative;
        overflow: hidden;
    }

        .card img {
            width: 100%;
            height: auto;
            max-width: 100%; /* Đặt tối đa chiều rộng */
            display: block; /* Loại bỏ khoảng trắng dưới hình ảnh */
            margin: 0 auto; /* Căn giữa hình ảnh trong thẻ card */
        }

</style>
<h2>CTPhong</h2>

